body {
  margin: 0;
  display: flex;
  height: 100vh;
  align-items: center;
  color: #1f2937;
}

.info {
  width: 400px;
  margin: 0 auto;
  overflow: auto;
  line-height: 1.4;
}

.social-link {
  text-decoration: none;
  color: #3b82f6;
  margin-right: 25px;
}

.social-link:hover {
  color: #f97316;
}
